<button class="btn btn-primary my-2 my-sm-0" (click)="openLogin()">Login</button>

<ng-template #modalCreacionCategoria let-modal>
    <div class="modal-header" style="background-color: #1DA1F2;">
      <h4 
        class="modal-title" 
        id="modal-basic-title"
        style="color: white;"
      >Inicio de sesión</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form  #categoryForm="ngForm">
          <div class="form-group">
                <label for="txt-usuario">Nombre de usuario</label>
                <input type="text" required name="usuario" [(ngModel)]="model.usuario" class="form-control" id="txt-usuario" placeholder="@usuario">
          </div>
          <div class="form-group">
                <label for="txt-contrasena">Contraseña</label>
                <input type="password" required name="contrasena" [(ngModel)]="model.contrasena"  class="form-control" id="txt-contrasena" placeholder="Agregue su contraseña">
          </div>
          <div style="height: 3em;">
            <ng-template [ngIf]="wrongUser">
                <small  style="color: red;">Contraseña incorrecta</small>
            </ng-template>
          </div>
          
          <button type="submit" class="btn btn-outline-dark" style="margin-right: 1em;" (click)="login()">Acceder</button>
          <button type="button" class="btn btn-outline-dark" (click)="modal.close('Cerrar')">Cerrar</button>
      </form>
    </div>
    
</ng-template>